header {
  text-transform: uppercase;
}

header nav {
  width: 100%;
  height: 8vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 10px;
}

header nav img {
  height: 85%;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  padding: 10px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li:hover {
  cursor: pointer;
}

header nav > a {
  height: 80%;
}

header #bar_top {
  padding: 5px 10%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header #bar_top a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}

main {
  background-color: black;
  padding: 50px;
}

main ul {
  display: flex;
  flex-wrap: wrap;
}

main ul li {
  list-style: none;
  width: calc((100% - 180px ) / 6);
  margin: 15px;
}

main ul li img {
  width: 100%;
}

main ul li h3 {
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("/images/footer-bg.jpg");
}

footer a {
  text-decoration: none;
  color: gray;
}

footer span {
  overflow: hidden;
  position: relative;
}

footer span ul {
  float: left;
  margin: 10px 20px;
}

footer span ul li {
  list-style: none;
}

footer span #logo-bd {
  height: 400px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 0;
  padding: 25px;
}

footer #pulsante {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;
}

footer #pulsante h1 {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid blue;
  color: white;
}

footer #pulsante img {
  height: 25px;
  margin: 0 10px;
  cursor: pointer;
}

footer #pulsante h3 {
  text-transform: uppercase;
  color: blue;
  float: left;
}

footer .title {
  margin: 15px 0;
}

footer .title a {
  color: white;
}

footer nav {
  height: 80px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav ul {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav ul li {
  height: 100%;
  font-size: 10px;
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

footer nav ul li img {
  height: 100%;
}

footer nav ul li p {
  text-transform: uppercase;
  margin: 0 15px;
  display: block;
}

a:active {
  color: blue;
}

