main {
    background-color: black;
    padding: 50px;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            list-style: none;
            width: calc((100% - 180px  ) / 6);
            margin: 15px;

            img {
                width: 100%;
            }
            h3 {
                margin: 5px;
            }
        }
    }
}